@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .frosted-glass {
    position: relative;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    );
    background-size: 200% 100%;
    background-position: 100%;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    animation: shimmer 3s infinite alternate ease-in-out;
    
  }

  .frosted-glass > * {
    position: relative;
    z-index: 1;
    color: white;
  }

  @keyframes shimmer {
    0% {
        background-position: 100% 0;
        background-size: 200% 100%;
    }
    100% {
        background-position: 0 0;
        background-size: 200% 100%;
    }
}
      
}
